.idea/
.pycor/
.ipynb_checkpoints/
.storage/
.vscode/
node_modules/
static/
.coverage
.DS_Store
.pre-commit-config.yaml
*.pyc
*.dat
*.data
*.gz
*.log
*.yaml
package-lock.json
pyiron.log
pyiron_core/static/
tests/integration/test_notebooks.py